#accordion1.accordion
  each group in groups
    .accordion-group
      .accordion-heading
        #header('data-parent'='#accordion1', href='##{group.name}', style='margin-left: 5px')
          h4= group.name
      div(id='#{group.name}').accordion-body
        .accordion-inner
          ul
            each posto in group.posts
              .well
                dl
                  dt #{posto.user}
                  dd
                    p= posto.text
                a.btn.btn-mini(href='/post/like/#{posto._id}')
                  i.icon-thumbs-up
                  span Like
                if posto.likes.length
                  span Liked by #{posto.likes.join(", ")}
