table.table.table-bordered
  thead
    tr
      each type in types
        th= type
  tbody
    tr
      each col in rows
        td(scope='row', class='postcolumn')
          ul.unstyled
            each posto in col
              if posto
                div.well(style='padding: 4px; margin: 3px; line-height: 10px;min-height: 10px;')
                  dl
                    dt(style='line-height: 15px;') #{posto.user}
                    dd(style='line-height: 15px;')
                      p= posto.text
                  if posto.likes && posto.likes.length
                    span Liked by #{posto.likes.join(", ")}
                    span(style='padding-left: 15px')
                  if posto.dislikes && posto.dislikes.length
                    span Disliked by #{posto.dislikes.join(", ")}