link(rel='stylesheet', href='/public#{asset_token}/vendor/css/ui-lightness/jquery-ui-1.8.17.custom.css')
link(rel='stylesheet', href='/public#{asset_token}/vendor/css/validationEngine.jquery.css', type='text/css')
link(rel='stylesheet', href='/public#{asset_token}/vendor/tbootstrap/css/bootstrap.min.css', type='text/css')
link(rel='stylesheet', href='/public#{asset_token}/vendor/tbootstrap/css/bootstrap-responsive.min.css', type='text/css')
link(rel='stylesheet', href='/public#{asset_token}/css/base.css')

script(src='/public#{asset_token}/vendor/jquery-1.7.1.min.js')
script(src='/public#{asset_token}/vendor/jquery-ui-1.8.17.custom.min.js')
script(src='/public#{asset_token}/vendor/jquery.validationEngine.js')
script(src='/public#{asset_token}/vendor/jquery.validationEngine-en.js')
script(src='/public#{asset_token}/vendor/bootstrap-tab.js')
script(src='/public#{asset_token}/vendor/bootstrap-dropdown.js')
script(src='/public#{asset_token}/vendor/bootstrap-collapse.js')
script(src='/public#{asset_token}/vendor/spin.min.js')

script(src='/public#{asset_token}/vendor/moment-1.4.0.min.js')
script(src='/public#{asset_token}/vendor/underscore-1.3.1-min.js')

meta(name="viewport",content="width=device-width, initial-scale=1.0")